{% extends "base.html" %}

{% block title_html%}

<title> 0x7FFFFFFF - Fitbit </title>

{% endblock %}

{% block body_html %}

<p> I thought I'd share a little project I'm working on as part as my first post.</p>

<p> I'm writing a little app that syncs my google calender with my fitbit. If you head over to my fitbit page you'll see some of my statistics.  </p>

<p> Well my first task revolved around trying to establish a successful connection to the fitbit api.
This was not as difficult as it may seem. There is an awesome python library that enables you to use the fitbit api cleanly.
My only reservation with this library is the documentation isn't as up to date as it can be. So i spent most of my time
reading the actual code. Of course when you're using any library, it is always a good idea to read the code. Not only does this imporive
ones ability to code but you learn new approaches to various problems.
</p>

<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>
<p>  </p>







{% endblock %}
