<!DOCTYPE html>
<!-- Template by quackit.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title>3 Column Layout</title>


	{% load staticfiles %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

	
</head>
	<body>
		<header id="header"><p><center>0x7FFFFFFF</center></p></header>
		<div id="container">
			<main id="center" class="column">
				<article>
					{% block body_html %}
					{% endblock %}	
				</article>								
			</main>			
			
			<nav id="left" class="column">			
				<h3>Navigation</h3>		
				
				<ul>	
					<li><a href="#">Home</a></li>
					<li><a href="#">Github</a></li>
					<li>Resume<a href="#">(PDF/</a><a href="#">JSON)</a></li>
				</ul>
						
			</nav>
				<div id="right" class="column">
				</div>
		</div>
		<div id="footer-wrapper">
			<footer id="footer"><p>This website is created purely for my wife and I. </p></footer>
		</div>
	</body>
</html>


