{% extends "index.html" %}



{% block body_html %}

<div class = "content container">
	<div class = "post">
		<h1 class = "post-title"> Authenticating fitbit with oauth2 and python for continuous or singular usage  </h1>
		<span class = "post-date"> 2nd March 2016 </span>
	

		<p>This is the beginning of a series of tutorials on how to combine fitbit's API with 
		python. All the hard work has been done for us in a library called <a href="https://github.com/orcasgit/python-fitbit/">python-fitbit</a>
		By the end, I hope you can use some of the tools and templates for your projects. <a href="https://github.com/Elder-of-Ozone/fitbit-oauth2">Github Page</a>.</p>

		<p>I'm not going to start at the beginning because there has been plenty of other
		good tutorials out there. I recommend reading those first and getting familar with
		the language. I would also recommend actually reading the <a href="https://dev.fitbit.com/docs/">fitbit API docs </a>, including
		the implementation of <a href="https://dev.fitbit.com/docs/oauth2/"> oauth2.0. </a></p>

		<p>So here is a bunch of prerequisite reading for you:
		<ul>
			<li><a href="https://roboticape.wordpress.com/2014/01/13/first-steps-into-the-quantified-self-getting-to-know-the-fitbit-api/">Getting to know the Fitbit API</a></li>
			<li><a href="http://pdwhomeautomation.blogspot.com.au/2016/01/fitbit-api-access-using-oauth20-and.html">Fitbit API access and using oauth2 and raspberry pi </a></li>
		</ul>
		</p>

		<p>I have just been informed that you might need to update the python-fitbit library. So please do so before continuing.
		   If it is still not working, please lodge a github issue.
		</p>



		<p>-------------------------------------------------------------------------------------------------</p>

		
		<p>
		Okay, let's get stuck into it. 
		</p>

		<p>
		I'm going to show you how to get an initial API application running. You've done this previously
		in the prerequisites that I linked earlier. However, I'm taking this one step further by showing you
		how to make an application run continuously. This is incredibly useful if, like me, you have a 
		server running to constantly gather user data.
		</p>
		
		<p>
		There are two scripts both available <a href="https://github.com/Elder-of-Ozone/fitbit-oauth2">here</a>. The first script,
		production_template.py, is for this tutorial. It's a quick easy solution and not intended for full implementation. The 
		second script, fitbit_oauth2.py is fully encapsulated and perfect for large projects. 
		</p>

		<p>
		The first thing you should know is configParser. ConfigParser is how we will handle tokens. You can use
		YAML or JSON if you desire, but for this tutorial, we are going to use configParser.
		</p>

		<p>The first thing you need to do is gather your credentials. This is your client_id and your client_secret. 
		Once you have those credentials at hand, create a file called config.ini and include the following contents;
		remembering to add your credentials where required.</p>
		<pre>[param]
c_id = [INSERT YOUR CLIENT ID]
c_secret = [INSERT YOUR CLIENT SECRET]</pre>
		

		<p>Now create a python file and add the following snippet</p>


<pre class = "brush: python">

import fitbit
import ConfigParser
import time

# JUST ANOTHER REMINDER
# Save a file named config.ini with the following contents:
# [param]
# c_id      = [INSERT YOUR CLIENT ID]
# c_secret  = [INSERT YOUR CLIENT SECRET]

# first we read our config file
parser = ConfigParser.RawConfigParser()
parser.read('config.ini')

# Then we get our client id and secrets. 
configName = 'param'

client_id = parser.get(configName, 'c_id')
client_secret = parser.get(configName, 'c_secret')
		</pre>
===



		<p>These details are enough to make our first call to the fitbit API and gain consent. 
		If you have read the documents as I suggested, you would have learnt we have two different
		oauth2 methods (implicit and authoziation code grants). Their importance is out of scope with
		this tutorial but it's worth understanding which method we are implementing for debugging purposes.
		It is also worth noting that the authorization code grant method does not allow
		for extending token timeouts.</p>

		<p>We have been told by fitbit not to use embeded authorization pages so therefore we need access to the browser.
		If you have a raspberry pi headless, this step can missed entirely if you use gather_keys_oauth2.py (found in python-fitbit).
		Simply put the refresh and access token under r_token and a_token respectively in your config.ini. 
		</p>


		<p>This is probably going to be the most important paragraph in this tutorial so pay attention. 
		Look through the next snippet of code,  we have our initial call to fitbit's API and we print
		a URL. Open this URL and your browser will timeout. Don't freak out! Hopefully the url changed.
		If it has, take another look and you'll notice this pattern at the end code=*****. Copy and paste
		the code at the end into the awaiting python script </p>

		<p>Since we do not want to go through this procedure every time we execute the script,
		we save the tokens. Next time we want to excute the script, we will try to read the 
		refresh and access tokens from the file and convert them to unicode.
		This gives us enough information to create an object. </p>




<pre>try:
    refresh_token = parser.get(configName, 'r_token')
	access_token = parser.get('param', 'a_token')

	refresh_token = unicode(refresh_token, "utf-8")
	access_token =  unicode(access_token, "utf-8")
	print "Access and Refresh token already created, so let's create our model."

	# Now we create our client model. Note we have oauth2 = true 
	#since oauth1.0 is depreceiated.
	client = fitbit.Fitbit(client_id, client_secret, oauth2=True, access_token = access_token, refresh_token = refresh_token) 
								     

except:

	client = fitbit.Fitbit(client_id, client_secret, oauth2=True)


	print client.client.authorize_token_url(expires_in = '86400', redirect_uri='http://127.0.0.1:8080/')
										     
	code = raw_input()

	redirect_uri = 'http://127.0.0.1:8080/'
	client.client.fetch_access_token(code = code, redirect_uri = redirect_uri)

	refresh_token = client.client.token['refresh_token']
	access_token = client.client.token['access_token']

	parser.set(configName, 'r_token', refresh_token)
	parser.set(configName, 'a_token', access_token)
																	     
	with open('config.ini', 'wb') as configfile:
		parser.write(configfile)
	
	pass
</pre>


		<p>Now it's time for the fun bit! What you've all come here to do.
		By following these steps, you can now use the API!</p>

		<p>If you want to have the program executed in the background,
		it is best handled with a loop. The important thing here is refreshing
		the tokens and saving to a file. This is because the access token has a lifespan of an hour.
		The refresh token, on the other hand, has a lifepan of 14 days.</p>

		<p>If you want to run the program once with crontab etc and do 
		not require a loop, you will still need to refresh tokens at
		the beginning and saving that information
		to a file.</p>



		<pre>


while True:
	client.client.refresh_token()
	
	# DO STUFF
			        
	print client.sleep()
					       

	refresh_token = client.client.token['refresh_token']
	access_token = client.client.token['access_token']

	parser.set(configName, 'r_token', refresh_token)
	parser.set(configName, 'a_token', access_token)
													       
	config = open("config.ini",'wb')
	parser.write(config)
	config.close()

	# Halt program for a certain time before starting the loop again. 
	time.sleep(30)


		</pre>

		<p>That's all there is! If you feel like fixing up anything 
		or have any questions, feel free to issue a ticket or
		pull request on github.</p>


		<p>
		The second part of the tutorial can be found <a href="http://0x7fffffff.xyz/blog/fitbit/fitbit-oauth2-part2">here</a> (or below). Here, we encapsulate
		what we have done which in turn makes it more assessible and easier to read.
		</p>



	</div>
</div>

{% endblock %}
