{% extends "base.html" %}

{% block title_html%}

 0x7FFFFFFF &middot; Technology, the Environment and Life 

{% endblock %}



{% block body_html %}

<div class = "content container">
	
	
	<div class="post">
		<h1 class="post-title"> We are almost there!  </h1>
		<span class ="post-date"> 03 March 2016 </span>

		<p> Welcome Internet Explorers</p>

		<p>
			Well the structure of this site is almost there. I never realised
			just how much work needs to go into the backend side of websites.
			Well that's a lie. I knew it was difficult but when time is limited,
			it's a whole new ball game.
		</p>

		<p>
			There are still a few things that I would like to do. Firstly,
			I need to get this website talking to the SQLite database so that
			I can get realtime monitoring data from my hermit crab tank.
		</p>

		<p>
			On the otherside of things, I have written two blog posts thus far.
			The first blog posts is an introductory tutorial on how to integrite
			fitbit api using python. This is followed by a more advanced tutorial
			on encapsulation and how to best execute the python script.
		</p>
		<p>
			These blog posts can be found here:<br>
			<ul>
				<li><a href="">Authenticating fitbit with oauth2 and python for continuous or singular usage: Part 1</a></li>
				<li><a href="">Authenticating fitbit with oauth2 and python for continuous or singular usage: Part 2</a></li>
			</ul>
		</p>
	</div>




</div>

{% endblock %}
