
<div class = "content container">
	<div class="post">
		<h1 class="post-title">  This is an example post  </h1>
		<span class ="post-date"> 03 Jan 2016 </span>

		<p> Well I hope you enjoyed my first tutorial. The program is very simple 
		and there are signfiicant amount of improvements
		that can be made. For instance, we can get rid of the repetitiveness and
		encapsulate the script into a class that you can inherit. This method will
		allow you to have invoke self.run(), a function that will be called
		during initalisation
fdsfdsf		</p>

		<p>
		Why would we do this? Well it's the pythonic way. The code is a lot 
		cleaner, easier to read and manage. You'll see in a moment and I hope
		you understand.




		</p>

	</div>



</div>

