{% extends "index.html" %}

{% block title_html%}

 0x7FFFFFFF &middot; Technology, the Environment and Life 

{% endblock %}



{% block body_html %}

<div class = "content container">
	<div class="post">
		<h1 class="post-title">  This is an example post  </h1>
		<span class ="post-date"> 03 Jan 2016 </span>

		<p> Text goes here</p>
	</div>

	<div class="post">
		<h1 class="post-title">  This is an example post  </h1>
		<span class ="post-date"> 03 Jan 2016 </span>

		<p> Text goes here</p>
	</div>


</div>

{% endblock %}
