{% extends "base.html" %}

{% block title_html%}

 0x7FFFFFFF &middot; Technology, the Environment and Life 

{% endblock %}



{% block body_html %}

<div class = "content container">
	<div class="post">
		<h1 class="post-title">  This page is still under construction</h1>
		<span class ="post-date"> 28 Feb 2016 </span>

		<p> Welcome Internet Explorers</p>

		<p> This is just a website to showcase some of my projects. Please 
			read my About Me section to learn more (not up yet)
		
		</p>
	</div>




</div>

{% endblock %}
