{% extends "index.html" %}

{% block title_html%}

 0x7FFFFFFF &middot; Technology, the Environment and Life 

{% endblock %}



{% block body_html %}

<div class = "content container">
	<div class="post">
		<h1 class="post-title"> Aaron Fordham</h1>
		<span class ="post-date">  </span>

		<p> As you would have guessed, I'm a passionate for IT
		and the environment. Having spent the last six years studying
		environmental science and hydrogeology, I wish to expand my horizons
		and begin writing about it.</p>

		<p>This website is dedicated to my wife. She has continued to stand by me 
		for the past 2 years and has put up with many of my frustrations. 
		Throughout our lives, we wish to meet someone amazing. Her strength
		gives me the courage to be a better person. She fulfils my utility function</p>

		You can access my CV <a href="/media/AaronFordhamCV.pdf">here</a>.
	</div>



</div>

{% endblock %}
