{% extends "base.html" %}

{% block title_html%}

 0x7FFFFFFF &middot; Technology, the Environment and Life 

{% endblock %}



{% block body_html %}

<div class = "content container">
	
	
	<div class="post">
		<h1 class="post-title"> We are almost there!  </h1>
		<span class ="post-date"> 03 March 2016 </span>

		<p> Welcome Internet Explorers</p>

		<p> Two new blog posts on how to authenticate fitbit with python and oauth2. 
		If you want to bypass the blog, the scripts can be found <a href="https://github.com/Elder-of-Ozone/fitbit-oauth2">here</a>
		</p>

			<ul>
				<li><a href="http://0x7FFFFFFF.xyz/blog/fitbit/fitbit-oauth2-part1">Authenticating fitbit with oauth2 and python for continuous or singular usage: Part 1</a></li>
				<li><a href="http://0x7FFFFFFF.xyz/blog/fitbit/fitbit-oauth2-part2">Authenticating fitbit with oauth2 and python for continuous or singular usage: Part 2</a></li>
			</ul>
		</p>

	</div>


</div>

{% endblock %}:
